@charset "UTF-8";
@import url(/Users/dyha/Downloads/animation/src/css/normalize.css);
@import url(/Users/dyha/Downloads/animation/src/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto','Noto Sans KR', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.1px;
  margin: 0;
}

.text-ink {
  color: #222323;
}

.text-black {
  color: #222323;
}

.text-body {
  color: #666;
}

.text-bodyLighter {
  color: #888888;
}

.text-muted {
  color: #9F9F9F !important;
}

.text-form {
  color: #D9D9D9 !important;
}

.text-border {
  color: #EAEAEA !important;
}

.text-lighter {
  color: #F4F4F4 !important;
}

.text-light {
  color: #F8F8F8 !important;
}

.text-brand-green {
  color: #33B679;
}

.text-brand-green-100 {
  color: #26895B;
}

.text-brand-green-400 {
  color: #5CC594;
}

.text-brand-deepGreen {
  color: #0B6032;
}

.text-primary {
  color: #2962FF !important;
}

.text-primary-w {
  color: #5B82ED !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-weight-light {
  font-weight: 100;
}

.font-weight-lighter {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-med {
  font-weight: 500;
}

.font-weight-bolder {
  font-weight: 700;
}

.font-weight-bold {
  font-weight: 900;
}

.line-12 {
  line-height: 1.2;
}

.line-15 {
  line-height: 1.5;
}

.font-20, .font-24, .font-28, .font-32, .font-40, .font-48 .font-56, .font-64 {
  letter-spacing: -2px;
}

.font-12, .font-11 {
  font-family: '맑은고딕', 'Sans-serif' !important;
}

.font-80 {
  font-size: 8rem;
}

.font-72 {
  font-size: 7.2rem;
}

.font-64 {
  font-size: 6.4rem;
}

.font-56 {
  font-size: 5.6rem;
}

.font-48 {
  font-size: 4.8rem;
}

.font-40 {
  font-size: 4rem;
}

.font-32 {
  font-size: 3.2rem;
}

.font-28 {
  font-size: 2.8rem;
}

.font-24 {
  font-size: 2.4rem;
}

.font-20 {
  font-size: 2rem;
}

.font-18 {
  font-size: 1.8rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-14 {
  font-size: 1.4rem;
}

.font-12 {
  font-size: 1.2rem;
}

.font-11 {
  font-size: 1.1rem;
}

.bg-ink {
  background-color: #222323 !important;
}

.bg-black {
  background-color: #222323 !important;
}

.bg-dark {
  background-color: #232930 !important;
}

.bg-body {
  background-color: #666 !important;
}

.bg-muted {
  background-color: #9F9F9F !important;
}

.bg-form {
  background-color: #D9D9D9 !important;
}

.bg-border {
  background-color: #EAEAEA !important;
}

.bg-lighter {
  background-color: #F4F4F4 !important;
}

.bg-light {
  background-color: #F8F8F8 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-brand-green {
  color: #33B679;
}

.bg-brand-deepGreen {
  color: #33B679;
}

.bg-primary {
  background-color: #2962FF !important;
}

.bg-primary-w {
  background-color: #5B82ED !important;
}

.m0-t {
  margin-top: 0rem;
}

.m0-r {
  margin-right: 0rem;
}

.m0-b {
  margin-bottom: 0rem;
}

.m0-l {
  margin-left: 0rem;
}

.m0x {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m8-t {
  margin-top: 0.8rem;
}

.m8-r {
  margin-right: 0.8rem;
}

.m8-b {
  margin-bottom: 0.8rem;
}

.m8-l {
  margin-left: 0.8rem;
}

.m8x {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.m16-t {
  margin-top: 1.6rem;
}

.m16-r {
  margin-right: 1.6rem;
}

.m16-b {
  margin-bottom: 1.6rem;
}

.m16-l {
  margin-left: 1.6rem;
}

.m16x {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

.m24-t {
  margin-top: 2.4rem;
}

.m24-r {
  margin-right: 2.4rem;
}

.m24-b {
  margin-bottom: 2.4rem;
}

.m24-l {
  margin-left: 2.4rem;
}

.m24x {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

.m32-t {
  margin-top: 3.2rem;
}

.m32-r {
  margin-right: 3.2rem;
}

.m32-b {
  margin-bottom: 3.2rem;
}

.m32-l {
  margin-left: 3.2rem;
}

.m32x {
  margin-left: 3.2rem !important;
  margin-right: 3.2rem !important;
}

.m48-t {
  margin-top: 4.8rem;
}

.m48-r {
  margin-right: 4.8rem;
}

.m48-b {
  margin-bottom: 4.8rem;
}

.m48-l {
  margin-left: 4.8rem;
}

.m48x {
  margin-left: 4.8rem !important;
  margin-right: 4.8rem !important;
}

.m64-t {
  margin-top: 6.4rem;
}

.m64-r {
  margin-right: 6.4rem;
}

.m64-b {
  margin-bottom: 6.4rem;
}

.m64-l {
  margin-left: 6.4rem;
}

.m64x {
  margin-left: 6.4rem !important;
  margin-right: 6.4rem !important;
}

.m96-t {
  margin-top: 9.6rem;
}

.m96-r {
  margin-right: 9.6rem;
}

.m96-b {
  margin-bottom: 9.6rem;
}

.m96-l {
  margin-left: 9.6rem;
}

.m96x {
  margin-left: 9.6rem !important;
  margin-right: 9.6rem !important;
}

.m144-t {
  margin-top: 14.4rem;
}

.m144-r {
  margin-right: 14.4rem;
}

.m144-b {
  margin-bottom: 14.4rem;
}

.m144-l {
  margin-left: 14.4rem;
}

.m144x {
  margin-left: 14.4rem !important;
  margin-right: 14.4rem !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.p0-t {
  padding-top: 0rem !important;
}

.p0-r {
  padding-right: 0rem !important;
}

.p0-b {
  padding-bottom: 0rem !important;
}

.p0-l {
  padding-left: 0rem !important;
}

.p0x {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p8-t {
  padding-top: 0.8rem !important;
}

.p8-r {
  padding-right: 0.8rem !important;
}

.p8-b {
  padding-bottom: 0.8rem !important;
}

.p8-l {
  padding-left: 0.8rem !important;
}

.p8x {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.p16-t {
  padding-top: 1.6rem !important;
}

.p16-r {
  padding-right: 1.6rem !important;
}

.p16-b {
  padding-bottom: 1.6rem !important;
}

.p16-l {
  padding-left: 1.6rem !important;
}

.p16x {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.p24-t {
  padding-top: 2.4rem !important;
}

.p24-r {
  padding-right: 2.4rem !important;
}

.p24-b {
  padding-bottom: 2.4rem !important;
}

.p24-l {
  padding-left: 2.4rem !important;
}

.p24x {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
}

.p32-t {
  padding-top: 3.2rem !important;
}

.p32-r {
  padding-right: 3.2rem !important;
}

.p32-b {
  padding-bottom: 3.2rem !important;
}

.p32-l {
  padding-left: 3.2rem !important;
}

.p32x {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}

.p48-t {
  padding-top: 4.8rem !important;
}

.p48-r {
  padding-right: 4.8rem !important;
}

.p48-b {
  padding-bottom: 4.8rem !important;
}

.p48-l {
  padding-left: 4.8rem !important;
}

.p48x {
  padding-left: 4.8rem !important;
  padding-right: 4.8rem !important;
}

.p64-t {
  padding-top: 6.4rem !important;
}

.p64-r {
  padding-right: 6.4rem !important;
}

.p64-b {
  padding-bottom: 6.4rem !important;
}

.p64-l {
  padding-left: 6.4rem !important;
}

.p64x {
  padding-left: 6.4rem !important;
  padding-right: 6.4rem !important;
}

.p96-t {
  padding-top: 9.6rem !important;
}

.p96-r {
  padding-right: 9.6rem !important;
}

.p96-b {
  padding-bottom: 9.6rem !important;
}

.p96-l {
  padding-left: 9.6rem !important;
}

.p96x {
  padding-left: 9.6rem !important;
  padding-right: 9.6rem !important;
}

.p144-t {
  padding-top: 14.4rem !important;
}

.p144-r {
  padding-right: 14.4rem !important;
}

.p144-b {
  padding-bottom: 14.4rem !important;
}

.p144-l {
  padding-left: 14.4rem !important;
}

.p144x {
  padding-left: 14.4rem !important;
  padding-right: 14.4rem !important;
}

.w-100 {
  width: 100%;
}

.wv-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.hv-100 {
  height: 100vh;
}

.border {
  border: 1px solid #EAEAEA;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-none {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .7rem 1.2rem;
  font-size: 1.6rem !important;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-sm {
  font-size: 1.4rem !important;
  padding: 1.2rem 2rem;
}

.btn-lg {
  padding: 1.2rem 2rem;
}

.i.font-11, .i.font-12 {
  font-family: 'Font Awesome 5 Brands' !important;
}

.indicator {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
}

.sLink {
  position: relative;
  cursor: pointer;
}

.sLink .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #EAEAEA;
}

.sLink .line::after {
  content: '';
  display: inline-block;
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: #232930;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sLink:hover .line::after {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
  .contain {
    width: calc(100vw - 3.5rem);
  }
  .sm-font-80 {
    font-size: 8rem;
  }
  .sm-font-72 {
    font-size: 7.2rem;
  }
  .sm-font-64 {
    font-size: 6.4rem;
  }
  .sm-font-56 {
    font-size: 5.6rem;
  }
  .sm-font-48 {
    font-size: 4.8rem;
  }
  .sm-font-40 {
    font-size: 4rem;
  }
  .sm-font-32 {
    font-size: 3.2rem;
  }
  .sm-font-28 {
    font-size: 2.8rem;
  }
  .sm-font-24 {
    font-size: 2.4rem;
  }
  .sm-font-20 {
    font-size: 2rem;
  }
  .sm-font-18 {
    font-size: 1.8rem;
  }
  .sm-font-16 {
    font-size: 1.6rem;
  }
  .sm-font-14 {
    font-size: 1.4rem;
  }
  .sm-font-12 {
    font-size: 1.2rem;
  }
  .sm-font-11 {
    font-size: 1.1rem;
  }
  .sm-m0-t {
    margin-top: 0rem;
  }
  .sm-m0-r {
    margin-right: 0rem;
  }
  .sm-m0-b {
    margin-bottom: 0rem;
  }
  .sm-m0-l {
    margin-left: 0rem;
  }
  .sm-m0x {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .sm-m8-t {
    margin-top: 0.8rem;
  }
  .sm-m8-r {
    margin-right: 0.8rem;
  }
  .sm-m8-b {
    margin-bottom: 0.8rem;
  }
  .sm-m8-l {
    margin-left: 0.8rem;
  }
  .sm-m8x {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }
  .sm-m16-t {
    margin-top: 1.6rem;
  }
  .sm-m16-r {
    margin-right: 1.6rem;
  }
  .sm-m16-b {
    margin-bottom: 1.6rem;
  }
  .sm-m16-l {
    margin-left: 1.6rem;
  }
  .sm-m16x {
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
  }
  .sm-m24-t {
    margin-top: 2.4rem;
  }
  .sm-m24-r {
    margin-right: 2.4rem;
  }
  .sm-m24-b {
    margin-bottom: 2.4rem;
  }
  .sm-m24-l {
    margin-left: 2.4rem;
  }
  .sm-m24x {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
  }
  .sm-m32-t {
    margin-top: 3.2rem;
  }
  .sm-m32-r {
    margin-right: 3.2rem;
  }
  .sm-m32-b {
    margin-bottom: 3.2rem;
  }
  .sm-m32-l {
    margin-left: 3.2rem;
  }
  .sm-m32x {
    margin-left: 3.2rem !important;
    margin-right: 3.2rem !important;
  }
  .sm-m48-t {
    margin-top: 4.8rem;
  }
  .sm-m48-r {
    margin-right: 4.8rem;
  }
  .sm-m48-b {
    margin-bottom: 4.8rem;
  }
  .sm-m48-l {
    margin-left: 4.8rem;
  }
  .sm-m48x {
    margin-left: 4.8rem !important;
    margin-right: 4.8rem !important;
  }
  .sm-m64-t {
    margin-top: 6.4rem;
  }
  .sm-m64-r {
    margin-right: 6.4rem;
  }
  .sm-m64-b {
    margin-bottom: 6.4rem;
  }
  .sm-m64-l {
    margin-left: 6.4rem;
  }
  .sm-m64x {
    margin-left: 6.4rem !important;
    margin-right: 6.4rem !important;
  }
  .sm-m96-t {
    margin-top: 9.6rem;
  }
  .sm-m96-r {
    margin-right: 9.6rem;
  }
  .sm-m96-b {
    margin-bottom: 9.6rem;
  }
  .sm-m96-l {
    margin-left: 9.6rem;
  }
  .sm-m96x {
    margin-left: 9.6rem !important;
    margin-right: 9.6rem !important;
  }
  .sm-m144-t {
    margin-top: 14.4rem;
  }
  .sm-m144-r {
    margin-right: 14.4rem;
  }
  .sm-m144-b {
    margin-bottom: 14.4rem;
  }
  .sm-m144-l {
    margin-left: 14.4rem;
  }
  .sm-m144x {
    margin-left: 14.4rem !important;
    margin-right: 14.4rem !important;
  }
  .sm-ml-auto, .sm-mx-auto {
    margin-left: auto !important;
  }
  .sm-mr-auto, .sm-mx-auto {
    margin-right: auto !important;
  }
  .sm-p0-t {
    padding-top: 0rem !important;
  }
  .sm-p0-r {
    padding-right: 0rem !important;
  }
  .sm-p0-b {
    padding-bottom: 0rem !important;
  }
  .sm-p0-l {
    padding-left: 0rem !important;
  }
  .sm-p0x {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .sm-p8-t {
    padding-top: 0.8rem !important;
  }
  .sm-p8-r {
    padding-right: 0.8rem !important;
  }
  .sm-p8-b {
    padding-bottom: 0.8rem !important;
  }
  .sm-p8-l {
    padding-left: 0.8rem !important;
  }
  .sm-p8x {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
  .sm-p16-t {
    padding-top: 1.6rem !important;
  }
  .sm-p16-r {
    padding-right: 1.6rem !important;
  }
  .sm-p16-b {
    padding-bottom: 1.6rem !important;
  }
  .sm-p16-l {
    padding-left: 1.6rem !important;
  }
  .sm-p16x {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
  .sm-p24-t {
    padding-top: 2.4rem !important;
  }
  .sm-p24-r {
    padding-right: 2.4rem !important;
  }
  .sm-p24-b {
    padding-bottom: 2.4rem !important;
  }
  .sm-p24-l {
    padding-left: 2.4rem !important;
  }
  .sm-p24x {
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
  }
  .sm-p32-t {
    padding-top: 3.2rem !important;
  }
  .sm-p32-r {
    padding-right: 3.2rem !important;
  }
  .sm-p32-b {
    padding-bottom: 3.2rem !important;
  }
  .sm-p32-l {
    padding-left: 3.2rem !important;
  }
  .sm-p32x {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }
  .sm-p48-t {
    padding-top: 4.8rem !important;
  }
  .sm-p48-r {
    padding-right: 4.8rem !important;
  }
  .sm-p48-b {
    padding-bottom: 4.8rem !important;
  }
  .sm-p48-l {
    padding-left: 4.8rem !important;
  }
  .sm-p48x {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
  }
  .sm-p64-t {
    padding-top: 6.4rem !important;
  }
  .sm-p64-r {
    padding-right: 6.4rem !important;
  }
  .sm-p64-b {
    padding-bottom: 6.4rem !important;
  }
  .sm-p64-l {
    padding-left: 6.4rem !important;
  }
  .sm-p64x {
    padding-left: 6.4rem !important;
    padding-right: 6.4rem !important;
  }
  .sm-p96-t {
    padding-top: 9.6rem !important;
  }
  .sm-p96-r {
    padding-right: 9.6rem !important;
  }
  .sm-p96-b {
    padding-bottom: 9.6rem !important;
  }
  .sm-p96-l {
    padding-left: 9.6rem !important;
  }
  .sm-p96x {
    padding-left: 9.6rem !important;
    padding-right: 9.6rem !important;
  }
  .sm-p144-t {
    padding-top: 14.4rem !important;
  }
  .sm-p144-r {
    padding-right: 14.4rem !important;
  }
  .sm-p144-b {
    padding-bottom: 14.4rem !important;
  }
  .sm-p144-l {
    padding-left: 14.4rem !important;
  }
  .sm-p144x {
    padding-left: 14.4rem !important;
    padding-right: 14.4rem !important;
  }
  .sm-w-100 {
    width: 100%;
  }
  .sm-wv-100 {
    width: 100vw;
  }
  .sm-h-100 {
    height: 100%;
  }
  .sm-hv-100 {
    height: 100vh;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-left {
    text-align: left;
  }
  .sm-text-right {
    text-align: right;
  }
  .sm-d-inline-block {
    display: inline-block;
  }
  .sm-d-block {
    display: block;
  }
  .sm-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm-d-grid {
    display: -ms-grid;
    display: grid;
  }
  .sm-d-none {
    display: none;
  }
}

@media (min-width: 576px) {
  .contain {
    width: calc(100vw - 14rem);
  }
}

@media (min-width: 768px) {
  .contain {
    width: calc(100vw - 14rem);
  }
  .md-font-80 {
    font-size: 8rem;
  }
  .md-font-72 {
    font-size: 7.2rem;
  }
  .md-font-64 {
    font-size: 6.4rem;
  }
  .md-font-56 {
    font-size: 5.6rem;
  }
  .md-font-48 {
    font-size: 4.8rem;
  }
  .md-font-40 {
    font-size: 4rem;
  }
  .md-font-32 {
    font-size: 3.2rem;
  }
  .md-font-28 {
    font-size: 2.8rem;
  }
  .md-font-24 {
    font-size: 2.4rem;
  }
  .md-font-20 {
    font-size: 2rem;
  }
  .md-font-18 {
    font-size: 1.8rem;
  }
  .md-font-16 {
    font-size: 1.6rem;
  }
  .md-font-14 {
    font-size: 1.4rem;
  }
  .md-font-12 {
    font-size: 1.2rem;
  }
  .md-font-11 {
    font-size: 1.1rem;
  }
  .md-m0-t {
    margin-top: 0rem;
  }
  .md-m0-r {
    margin-right: 0rem;
  }
  .md-m0-b {
    margin-bottom: 0rem;
  }
  .md-m0-l {
    margin-left: 0rem;
  }
  .md-m0x {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .md-m8-t {
    margin-top: 0.8rem;
  }
  .md-m8-r {
    margin-right: 0.8rem;
  }
  .md-m8-b {
    margin-bottom: 0.8rem;
  }
  .md-m8-l {
    margin-left: 0.8rem;
  }
  .md-m8x {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }
  .md-m16-t {
    margin-top: 1.6rem;
  }
  .md-m16-r {
    margin-right: 1.6rem;
  }
  .md-m16-b {
    margin-bottom: 1.6rem;
  }
  .md-m16-l {
    margin-left: 1.6rem;
  }
  .md-m16x {
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
  }
  .md-m24-t {
    margin-top: 2.4rem;
  }
  .md-m24-r {
    margin-right: 2.4rem;
  }
  .md-m24-b {
    margin-bottom: 2.4rem;
  }
  .md-m24-l {
    margin-left: 2.4rem;
  }
  .md-m24x {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
  }
  .md-m32-t {
    margin-top: 3.2rem;
  }
  .md-m32-r {
    margin-right: 3.2rem;
  }
  .md-m32-b {
    margin-bottom: 3.2rem;
  }
  .md-m32-l {
    margin-left: 3.2rem;
  }
  .md-m32x {
    margin-left: 3.2rem !important;
    margin-right: 3.2rem !important;
  }
  .md-m48-t {
    margin-top: 4.8rem;
  }
  .md-m48-r {
    margin-right: 4.8rem;
  }
  .md-m48-b {
    margin-bottom: 4.8rem;
  }
  .md-m48-l {
    margin-left: 4.8rem;
  }
  .md-m48x {
    margin-left: 4.8rem !important;
    margin-right: 4.8rem !important;
  }
  .md-m64-t {
    margin-top: 6.4rem;
  }
  .md-m64-r {
    margin-right: 6.4rem;
  }
  .md-m64-b {
    margin-bottom: 6.4rem;
  }
  .md-m64-l {
    margin-left: 6.4rem;
  }
  .md-m64x {
    margin-left: 6.4rem !important;
    margin-right: 6.4rem !important;
  }
  .md-m96-t {
    margin-top: 9.6rem;
  }
  .md-m96-r {
    margin-right: 9.6rem;
  }
  .md-m96-b {
    margin-bottom: 9.6rem;
  }
  .md-m96-l {
    margin-left: 9.6rem;
  }
  .md-m96x {
    margin-left: 9.6rem !important;
    margin-right: 9.6rem !important;
  }
  .md-m144-t {
    margin-top: 14.4rem;
  }
  .md-m144-r {
    margin-right: 14.4rem;
  }
  .md-m144-b {
    margin-bottom: 14.4rem;
  }
  .md-m144-l {
    margin-left: 14.4rem;
  }
  .md-m144x {
    margin-left: 14.4rem !important;
    margin-right: 14.4rem !important;
  }
  .md-ml-auto, .md-mx-auto {
    margin-left: auto !important;
  }
  .md-mr-auto, .md-mx-auto {
    margin-right: auto !important;
  }
  .md-p0-t {
    padding-top: 0rem !important;
  }
  .md-p0-r {
    padding-right: 0rem !important;
  }
  .md-p0-b {
    padding-bottom: 0rem !important;
  }
  .md-p0-l {
    padding-left: 0rem !important;
  }
  .md-p0x {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .md-p8-t {
    padding-top: 0.8rem !important;
  }
  .md-p8-r {
    padding-right: 0.8rem !important;
  }
  .md-p8-b {
    padding-bottom: 0.8rem !important;
  }
  .md-p8-l {
    padding-left: 0.8rem !important;
  }
  .md-p8x {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
  .md-p16-t {
    padding-top: 1.6rem !important;
  }
  .md-p16-r {
    padding-right: 1.6rem !important;
  }
  .md-p16-b {
    padding-bottom: 1.6rem !important;
  }
  .md-p16-l {
    padding-left: 1.6rem !important;
  }
  .md-p16x {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
  .md-p24-t {
    padding-top: 2.4rem !important;
  }
  .md-p24-r {
    padding-right: 2.4rem !important;
  }
  .md-p24-b {
    padding-bottom: 2.4rem !important;
  }
  .md-p24-l {
    padding-left: 2.4rem !important;
  }
  .md-p24x {
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
  }
  .md-p32-t {
    padding-top: 3.2rem !important;
  }
  .md-p32-r {
    padding-right: 3.2rem !important;
  }
  .md-p32-b {
    padding-bottom: 3.2rem !important;
  }
  .md-p32-l {
    padding-left: 3.2rem !important;
  }
  .md-p32x {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }
  .md-p48-t {
    padding-top: 4.8rem !important;
  }
  .md-p48-r {
    padding-right: 4.8rem !important;
  }
  .md-p48-b {
    padding-bottom: 4.8rem !important;
  }
  .md-p48-l {
    padding-left: 4.8rem !important;
  }
  .md-p48x {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
  }
  .md-p64-t {
    padding-top: 6.4rem !important;
  }
  .md-p64-r {
    padding-right: 6.4rem !important;
  }
  .md-p64-b {
    padding-bottom: 6.4rem !important;
  }
  .md-p64-l {
    padding-left: 6.4rem !important;
  }
  .md-p64x {
    padding-left: 6.4rem !important;
    padding-right: 6.4rem !important;
  }
  .md-p96-t {
    padding-top: 9.6rem !important;
  }
  .md-p96-r {
    padding-right: 9.6rem !important;
  }
  .md-p96-b {
    padding-bottom: 9.6rem !important;
  }
  .md-p96-l {
    padding-left: 9.6rem !important;
  }
  .md-p96x {
    padding-left: 9.6rem !important;
    padding-right: 9.6rem !important;
  }
  .md-p144-t {
    padding-top: 14.4rem !important;
  }
  .md-p144-r {
    padding-right: 14.4rem !important;
  }
  .md-p144-b {
    padding-bottom: 14.4rem !important;
  }
  .md-p144-l {
    padding-left: 14.4rem !important;
  }
  .md-p144x {
    padding-left: 14.4rem !important;
    padding-right: 14.4rem !important;
  }
  .md-w-100 {
    width: 100%;
  }
  .md-wv-100 {
    width: 100vw;
  }
  .md-h-100 {
    height: 100%;
  }
  .md-hv-100 {
    height: 100vh;
  }
  .md-text-center {
    text-align: center;
  }
  .md-text-left {
    text-align: left;
  }
  .md-text-right {
    text-align: right;
  }
  .md-d-inline-block {
    display: inline-block;
  }
  .md-d-block {
    display: block;
  }
  .md-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .md-d-grid {
    display: -ms-grid;
    display: grid;
  }
  .md-d-none {
    display: none;
  }
}

@media (min-width: 992px) {
  .contain {
    width: calc(100vw - 11rem);
  }
  .lg-font-80 {
    font-size: 8rem;
  }
  .lg-font-72 {
    font-size: 7.2rem;
  }
  .lg-font-64 {
    font-size: 6.4rem;
  }
  .lg-font-56 {
    font-size: 5.6rem;
  }
  .lg-font-48 {
    font-size: 4.8rem;
  }
  .lg-font-40 {
    font-size: 4rem;
  }
  .lg-font-32 {
    font-size: 3.2rem;
  }
  .lg-font-28 {
    font-size: 2.8rem;
  }
  .lg-font-24 {
    font-size: 2.4rem;
  }
  .lg-font-20 {
    font-size: 2rem;
  }
  .lg-font-18 {
    font-size: 1.8rem;
  }
  .lg-font-16 {
    font-size: 1.6rem;
  }
  .lg-font-14 {
    font-size: 1.4rem;
  }
  .lg-font-12 {
    font-size: 1.2rem;
  }
  .lg-font-11 {
    font-size: 1.1rem;
  }
  .lg-m0-t {
    margin-top: 0rem;
  }
  .lg-m0-r {
    margin-right: 0rem;
  }
  .lg-m0-b {
    margin-bottom: 0rem;
  }
  .lg-m0-l {
    margin-left: 0rem;
  }
  .lg-m0x {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .lg-m8-t {
    margin-top: 0.8rem;
  }
  .lg-m8-r {
    margin-right: 0.8rem;
  }
  .lg-m8-b {
    margin-bottom: 0.8rem;
  }
  .lg-m8-l {
    margin-left: 0.8rem;
  }
  .lg-m8x {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }
  .lg-m16-t {
    margin-top: 1.6rem;
  }
  .lg-m16-r {
    margin-right: 1.6rem;
  }
  .lg-m16-b {
    margin-bottom: 1.6rem;
  }
  .lg-m16-l {
    margin-left: 1.6rem;
  }
  .lg-m16x {
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
  }
  .lg-m24-t {
    margin-top: 2.4rem;
  }
  .lg-m24-r {
    margin-right: 2.4rem;
  }
  .lg-m24-b {
    margin-bottom: 2.4rem;
  }
  .lg-m24-l {
    margin-left: 2.4rem;
  }
  .lg-m24x {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
  }
  .lg-m32-t {
    margin-top: 3.2rem;
  }
  .lg-m32-r {
    margin-right: 3.2rem;
  }
  .lg-m32-b {
    margin-bottom: 3.2rem;
  }
  .lg-m32-l {
    margin-left: 3.2rem;
  }
  .lg-m32x {
    margin-left: 3.2rem !important;
    margin-right: 3.2rem !important;
  }
  .lg-m48-t {
    margin-top: 4.8rem;
  }
  .lg-m48-r {
    margin-right: 4.8rem;
  }
  .lg-m48-b {
    margin-bottom: 4.8rem;
  }
  .lg-m48-l {
    margin-left: 4.8rem;
  }
  .lg-m48x {
    margin-left: 4.8rem !important;
    margin-right: 4.8rem !important;
  }
  .lg-m64-t {
    margin-top: 6.4rem;
  }
  .lg-m64-r {
    margin-right: 6.4rem;
  }
  .lg-m64-b {
    margin-bottom: 6.4rem;
  }
  .lg-m64-l {
    margin-left: 6.4rem;
  }
  .lg-m64x {
    margin-left: 6.4rem !important;
    margin-right: 6.4rem !important;
  }
  .lg-m96-t {
    margin-top: 9.6rem;
  }
  .lg-m96-r {
    margin-right: 9.6rem;
  }
  .lg-m96-b {
    margin-bottom: 9.6rem;
  }
  .lg-m96-l {
    margin-left: 9.6rem;
  }
  .lg-m96x {
    margin-left: 9.6rem !important;
    margin-right: 9.6rem !important;
  }
  .lg-m144-t {
    margin-top: 14.4rem;
  }
  .lg-m144-r {
    margin-right: 14.4rem;
  }
  .lg-m144-b {
    margin-bottom: 14.4rem;
  }
  .lg-m144-l {
    margin-left: 14.4rem;
  }
  .lg-m144x {
    margin-left: 14.4rem !important;
    margin-right: 14.4rem !important;
  }
  .lg-ml-auto, .lg-mx-auto {
    margin-left: auto !important;
  }
  .lg-mr-auto, .lg-mx-auto {
    margin-right: auto !important;
  }
  .lg-p0-t {
    padding-top: 0rem !important;
  }
  .lg-p0-r {
    padding-right: 0rem !important;
  }
  .lg-p0-b {
    padding-bottom: 0rem !important;
  }
  .lg-p0-l {
    padding-left: 0rem !important;
  }
  .lg-p0x {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .lg-p8-t {
    padding-top: 0.8rem !important;
  }
  .lg-p8-r {
    padding-right: 0.8rem !important;
  }
  .lg-p8-b {
    padding-bottom: 0.8rem !important;
  }
  .lg-p8-l {
    padding-left: 0.8rem !important;
  }
  .lg-p8x {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
  .lg-p16-t {
    padding-top: 1.6rem !important;
  }
  .lg-p16-r {
    padding-right: 1.6rem !important;
  }
  .lg-p16-b {
    padding-bottom: 1.6rem !important;
  }
  .lg-p16-l {
    padding-left: 1.6rem !important;
  }
  .lg-p16x {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
  .lg-p24-t {
    padding-top: 2.4rem !important;
  }
  .lg-p24-r {
    padding-right: 2.4rem !important;
  }
  .lg-p24-b {
    padding-bottom: 2.4rem !important;
  }
  .lg-p24-l {
    padding-left: 2.4rem !important;
  }
  .lg-p24x {
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
  }
  .lg-p32-t {
    padding-top: 3.2rem !important;
  }
  .lg-p32-r {
    padding-right: 3.2rem !important;
  }
  .lg-p32-b {
    padding-bottom: 3.2rem !important;
  }
  .lg-p32-l {
    padding-left: 3.2rem !important;
  }
  .lg-p32x {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }
  .lg-p48-t {
    padding-top: 4.8rem !important;
  }
  .lg-p48-r {
    padding-right: 4.8rem !important;
  }
  .lg-p48-b {
    padding-bottom: 4.8rem !important;
  }
  .lg-p48-l {
    padding-left: 4.8rem !important;
  }
  .lg-p48x {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
  }
  .lg-p64-t {
    padding-top: 6.4rem !important;
  }
  .lg-p64-r {
    padding-right: 6.4rem !important;
  }
  .lg-p64-b {
    padding-bottom: 6.4rem !important;
  }
  .lg-p64-l {
    padding-left: 6.4rem !important;
  }
  .lg-p64x {
    padding-left: 6.4rem !important;
    padding-right: 6.4rem !important;
  }
  .lg-p96-t {
    padding-top: 9.6rem !important;
  }
  .lg-p96-r {
    padding-right: 9.6rem !important;
  }
  .lg-p96-b {
    padding-bottom: 9.6rem !important;
  }
  .lg-p96-l {
    padding-left: 9.6rem !important;
  }
  .lg-p96x {
    padding-left: 9.6rem !important;
    padding-right: 9.6rem !important;
  }
  .lg-p144-t {
    padding-top: 14.4rem !important;
  }
  .lg-p144-r {
    padding-right: 14.4rem !important;
  }
  .lg-p144-b {
    padding-bottom: 14.4rem !important;
  }
  .lg-p144-l {
    padding-left: 14.4rem !important;
  }
  .lg-p144x {
    padding-left: 14.4rem !important;
    padding-right: 14.4rem !important;
  }
  .lg-w-100 {
    width: 100%;
  }
  .lg-wv-100 {
    width: 100vw;
  }
  .lg-h-100 {
    height: 100%;
  }
  .lg-hv-100 {
    height: 100vh;
  }
  .lg-text-center {
    text-align: center;
  }
  .lg-text-left {
    text-align: left;
  }
  .lg-text-right {
    text-align: right;
  }
  .lg-d-inline-block {
    display: inline-block;
  }
  .lg-d-block {
    display: block;
  }
  .lg-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lg-d-grid {
    display: -ms-grid;
    display: grid;
  }
  .lg-d-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contain {
    width: calc(100vw - 18rem);
  }
  .xl-font-80 {
    font-size: 8rem;
  }
  .xl-font-72 {
    font-size: 7.2rem;
  }
  .xl-font-64 {
    font-size: 6.4rem;
  }
  .xl-font-56 {
    font-size: 5.6rem;
  }
  .xl-font-48 {
    font-size: 4.8rem;
  }
  .xl-font-40 {
    font-size: 4rem;
  }
  .xl-font-32 {
    font-size: 3.2rem;
  }
  .xl-font-28 {
    font-size: 2.8rem;
  }
  .xl-font-24 {
    font-size: 2.4rem;
  }
  .xl-font-20 {
    font-size: 2rem;
  }
  .xl-font-18 {
    font-size: 1.8rem;
  }
  .xl-font-16 {
    font-size: 1.6rem;
  }
  .xl-font-14 {
    font-size: 1.4rem;
  }
  .xl-font-12 {
    font-size: 1.2rem;
  }
  .xl-font-11 {
    font-size: 1.1rem;
  }
  .xl-m0-t {
    margin-top: 0rem;
  }
  .xl-m0-r {
    margin-right: 0rem;
  }
  .xl-m0-b {
    margin-bottom: 0rem;
  }
  .xl-m0-l {
    margin-left: 0rem;
  }
  .xl-m0x {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .xl-m8-t {
    margin-top: 0.8rem;
  }
  .xl-m8-r {
    margin-right: 0.8rem;
  }
  .xl-m8-b {
    margin-bottom: 0.8rem;
  }
  .xl-m8-l {
    margin-left: 0.8rem;
  }
  .xl-m8x {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }
  .xl-m16-t {
    margin-top: 1.6rem;
  }
  .xl-m16-r {
    margin-right: 1.6rem;
  }
  .xl-m16-b {
    margin-bottom: 1.6rem;
  }
  .xl-m16-l {
    margin-left: 1.6rem;
  }
  .xl-m16x {
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
  }
  .xl-m24-t {
    margin-top: 2.4rem;
  }
  .xl-m24-r {
    margin-right: 2.4rem;
  }
  .xl-m24-b {
    margin-bottom: 2.4rem;
  }
  .xl-m24-l {
    margin-left: 2.4rem;
  }
  .xl-m24x {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
  }
  .xl-m32-t {
    margin-top: 3.2rem;
  }
  .xl-m32-r {
    margin-right: 3.2rem;
  }
  .xl-m32-b {
    margin-bottom: 3.2rem;
  }
  .xl-m32-l {
    margin-left: 3.2rem;
  }
  .xl-m32x {
    margin-left: 3.2rem !important;
    margin-right: 3.2rem !important;
  }
  .xl-m48-t {
    margin-top: 4.8rem;
  }
  .xl-m48-r {
    margin-right: 4.8rem;
  }
  .xl-m48-b {
    margin-bottom: 4.8rem;
  }
  .xl-m48-l {
    margin-left: 4.8rem;
  }
  .xl-m48x {
    margin-left: 4.8rem !important;
    margin-right: 4.8rem !important;
  }
  .xl-m64-t {
    margin-top: 6.4rem;
  }
  .xl-m64-r {
    margin-right: 6.4rem;
  }
  .xl-m64-b {
    margin-bottom: 6.4rem;
  }
  .xl-m64-l {
    margin-left: 6.4rem;
  }
  .xl-m64x {
    margin-left: 6.4rem !important;
    margin-right: 6.4rem !important;
  }
  .xl-m96-t {
    margin-top: 9.6rem;
  }
  .xl-m96-r {
    margin-right: 9.6rem;
  }
  .xl-m96-b {
    margin-bottom: 9.6rem;
  }
  .xl-m96-l {
    margin-left: 9.6rem;
  }
  .xl-m96x {
    margin-left: 9.6rem !important;
    margin-right: 9.6rem !important;
  }
  .xl-m144-t {
    margin-top: 14.4rem;
  }
  .xl-m144-r {
    margin-right: 14.4rem;
  }
  .xl-m144-b {
    margin-bottom: 14.4rem;
  }
  .xl-m144-l {
    margin-left: 14.4rem;
  }
  .xl-m144x {
    margin-left: 14.4rem !important;
    margin-right: 14.4rem !important;
  }
  .xl-ml-auto, .xl-mx-auto {
    margin-left: auto !important;
  }
  .xl-mr-auto, .xl-mx-auto {
    margin-right: auto !important;
  }
  .xl-p0-t {
    padding-top: 0rem !important;
  }
  .xl-p0-r {
    padding-right: 0rem !important;
  }
  .xl-p0-b {
    padding-bottom: 0rem !important;
  }
  .xl-p0-l {
    padding-left: 0rem !important;
  }
  .xl-p0x {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .xl-p8-t {
    padding-top: 0.8rem !important;
  }
  .xl-p8-r {
    padding-right: 0.8rem !important;
  }
  .xl-p8-b {
    padding-bottom: 0.8rem !important;
  }
  .xl-p8-l {
    padding-left: 0.8rem !important;
  }
  .xl-p8x {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
  .xl-p16-t {
    padding-top: 1.6rem !important;
  }
  .xl-p16-r {
    padding-right: 1.6rem !important;
  }
  .xl-p16-b {
    padding-bottom: 1.6rem !important;
  }
  .xl-p16-l {
    padding-left: 1.6rem !important;
  }
  .xl-p16x {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
  }
  .xl-p24-t {
    padding-top: 2.4rem !important;
  }
  .xl-p24-r {
    padding-right: 2.4rem !important;
  }
  .xl-p24-b {
    padding-bottom: 2.4rem !important;
  }
  .xl-p24-l {
    padding-left: 2.4rem !important;
  }
  .xl-p24x {
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
  }
  .xl-p32-t {
    padding-top: 3.2rem !important;
  }
  .xl-p32-r {
    padding-right: 3.2rem !important;
  }
  .xl-p32-b {
    padding-bottom: 3.2rem !important;
  }
  .xl-p32-l {
    padding-left: 3.2rem !important;
  }
  .xl-p32x {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }
  .xl-p48-t {
    padding-top: 4.8rem !important;
  }
  .xl-p48-r {
    padding-right: 4.8rem !important;
  }
  .xl-p48-b {
    padding-bottom: 4.8rem !important;
  }
  .xl-p48-l {
    padding-left: 4.8rem !important;
  }
  .xl-p48x {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
  }
  .xl-p64-t {
    padding-top: 6.4rem !important;
  }
  .xl-p64-r {
    padding-right: 6.4rem !important;
  }
  .xl-p64-b {
    padding-bottom: 6.4rem !important;
  }
  .xl-p64-l {
    padding-left: 6.4rem !important;
  }
  .xl-p64x {
    padding-left: 6.4rem !important;
    padding-right: 6.4rem !important;
  }
  .xl-p96-t {
    padding-top: 9.6rem !important;
  }
  .xl-p96-r {
    padding-right: 9.6rem !important;
  }
  .xl-p96-b {
    padding-bottom: 9.6rem !important;
  }
  .xl-p96-l {
    padding-left: 9.6rem !important;
  }
  .xl-p96x {
    padding-left: 9.6rem !important;
    padding-right: 9.6rem !important;
  }
  .xl-p144-t {
    padding-top: 14.4rem !important;
  }
  .xl-p144-r {
    padding-right: 14.4rem !important;
  }
  .xl-p144-b {
    padding-bottom: 14.4rem !important;
  }
  .xl-p144-l {
    padding-left: 14.4rem !important;
  }
  .xl-p144x {
    padding-left: 14.4rem !important;
    padding-right: 14.4rem !important;
  }
  .xl-w-100 {
    width: 100%;
  }
  .xl-wv-100 {
    width: 100vw;
  }
  .xl-h-100 {
    height: 100%;
  }
  .xl-hv-100 {
    height: 100vh;
  }
  .xl-text-center {
    text-align: center;
  }
  .xl-text-left {
    text-align: left;
  }
  .xl-text-right {
    text-align: right;
  }
  .xl-d-inline-block {
    display: inline-block;
  }
  .xl-d-block {
    display: block;
  }
  .xl-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xl-d-grid {
    display: -ms-grid;
    display: grid;
  }
  .xl-d-none {
    display: none;
  }
}

@media (min-width: 1600px) {
  .contain {
    width: calc(100vw - 36rem);
    max-width: 1560px;
  }
}
